
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  border: 2px solid white;
  padding: 1em;
  border-radius: 15px;
  color: black;
  background-color: whitesmoke;
}


/* Form CSS */
.form {
  width: 20vw;
  padding: 1em;
}

.form h2{
  margin-top: 0em;
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;

}

button{
  text-align: left;
}


/* Table CSS */
table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 40vw;
  background-color: white;
  color: black;
  text-align: center;
}
th,td {
  border-bottom: 1px solid white;
}

tr:nth-child(even){
  background-color: #E8E8E8;
}

thead tr{
  background-color: #E8E8E8;
}




/* Navbar */
nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  justify-content: flex-end;
  flex-direction: row;
}

nav a {
  padding-right: 1em;
}